@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: Merienda;
  margin: 0;
  padding: 0;
  /* border: 0.1rem solid black; */
}
html {
  width: 100vw;
  height: 100vh;
}
@media screen and (min-width: 635px) and (max-width: 0px) {
  html {
    width: 120vw;
  }
}

@media screen and (min-width: 635px) and (max-width: 734px) {
  html {
    width: 130vw;
  }
}
@media screen and (min-width: 735px) and (max-width: 759px) {
  html {
    width: 132vw;
  }
}
@media screen and (min-width: 759px) and (max-width: 767px) {
  html {
    width: 155vw;
  }
}

@media screen and (min-width: 767px) and (max-width: 1035px) {
  html {
    width: 182vw;
    height: 150vh;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1006px) {
  html {
    width: 180vw;
    height: 150vh;
  }
}
